@model List<eLibraryPortal.Data.Models.Book>
@{
    ViewData["Title"] = "Book List";
    Layout = "~/Views/Admin/_Layout.cshtml";

}


<div id="main-wrapper">
    
    <div class="row">
        <div class="col-lg-12">
            <br /><br /><br /><br />
            <div class="card">
                <div class="card-header text-center">                    
                        <h1 class="page-title"> <b>Book List</b></h1>                       
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Book Name</th>
                                        <th>Book Edition</th>
                                        <th>ISBN</th>
                                        <th>Book Author</th>
                                        <th>Category</th>
                                        <th>Published Date</th>
                                        <th>Action</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>*</td>
                                        <td>@Html.DisplayFor(modelItem => item.BookName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BookEdition)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BookAuthor)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Categories)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PublishedDate)</td>
                                        <td> <img class="rounded-bottom" src="@item.GetBookImage" alt="Alternate Text" width="40" height="60" /></td>
                                        <td><a asp-controller="Admin" asp-action="EditBook" asp-route-id="@item.Id" class="btn btn-primary">Edit</a></td>

                                    </tr>
                                    }

                                   
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>No records found</p>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br /><br /><br /><br />
   

</div>

